body {
	text-align: justify;
	background-color: white;
	font-size: 16px;
	font-family: glyphicons-halflings-regular;
}

* {
	box-sizing: border-box;
}

.navbar {
	background-color: #adb8c2;
}

#header-nav {
	font-size: 2em;
	color: black;
	border-radius: 0;
}


.header-nav-folder-content > * {
	background-color: whitesmoke;
    border-bottom: 1px solid black;
    padding-top: 8px;
    padding-bottom: 8px;
}

#food-menu {
	background-color: #bbc4cc;
}

.panel {
  border-radius: 0px;
  margin-top: 15px;
  margin-bottom: 15px;
}